* {
    padding: 0;
    margin: 0;

}
body {
    font-family: 'Roboto', sans-serif; 
    overflow-x: hidden;
}

img{
    width: 90%;
}

input, textarea {
    outline: none;
}

header { 
    background: url('blur-close-up-code-computer-546819.jpg') no-repeat;
    background-color: #7272DD;
    background-blend-mode: multiply;
    opacity: .8;
    background-size: cover;
    height: 100vh;
    width: 100vw; 
    position: relative;
    text-align: center;
}

header .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
header .wrapper h1 {
    color: white;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-shadow:0 4px 0px black;
    margin-bottom: 40px;
}

header .wrapper img {
    box-shadow: 0 28px 26 px 0 px black;
    width: 40%;
    transition: transform .5s ease-out;
    cursor: pointer;
}

header .wrapper img:hover {
    transform: scale(1.1);
}

header .wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

header .wrapper ul li a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    text-shadow:0 4px 0px black;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

header .wrapper ul li a:hover {
    border-bottom: 4px solid white;
}

.tentang-saya {
    background-color: #7272DD;
    color: white;
    text-align: center;
    padding: 15px 10px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.tentang-saya .wrapper h2 {
    text-transform: uppercase;
    font-size: 2rem;
    text-shadow:0 4px 0px black;
    border-bottom: 7px solid white;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 40px;
}

.tentang-saya .wrapper p {
    font-size: 18px;
    line-height: 25px;
    padding: 0 35px;
    margin-bottom: 50px;
}

.tentang-saya .wrapper a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: bold;
    border: 3px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: pointer;
    transition: background .5s ease-out;
}

.tentang-saya .wrapper a:hover {
    background-color: #B8B8F4;
    box-shadow: 0 5px 15px black;
}

.sertifikat {
    background-color: #B8B8F4;
    color: white;
    text-align: center;
    padding: 15px 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sertifikat .wrapper h1 {
    text-shadow:0 4px 0px black;
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: 7px solid white;
    display: inline-block;
    padding-bottom: 7px;
    margin-bottom: 40px;
}

.sertifikat .wrapper .wrapper-sertifikat {
    display: grid;
    grid-gap: 40px;
    width: 100%;
    margin: 3 auto;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper-sertifikat a {
    text-decoration: none;
    text-align: justify;
    color: white;
    text-shadow:0 4px 0px black;
    font-size: 20px;
}

.wrapper-sertifikat a img:hover {
    transform: scale(1.1);
}

.Karya {
    background-color: #7272DD;
    color: white;
    text-align: center;
    padding: 15px 10px;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Karya .wrapper {
    padding: 50px;
}

.Karya .wrapper h1 {
    text-shadow:0 4px 0px black;
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: 7px solid white;
    display: inline-block;
    padding-bottom: 7px;
    margin-bottom: 40px;
}

.Karya .wrapper .wrapper-karya {
    display: grid;
    grid-gap: 40px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper-karya a {
    text-decoration: none;
    text-align: center;
    color: white;
    text-shadow:0 4px 0px black;
    font-size: 20px;
    border-image-width: auto;
}

.wrapper-karya a img:hover {
    transform: scale(1.1);
}

.Kontak {
    background-color: #B8B8F4;
    color: white;
    text-align: center;
    padding: 15px 10px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Kontak .wrapper h1 {
    text-shadow:0 4px 0px black;
    font-size: 2rem;
    text-transform: uppercase;
    border-bottom: 7px solid white;
    display: inline-block;
    padding-bottom: 7px;
    margin-bottom: 40px;
}

.Kontak .wrapper-kontak input, .Kontak .wrapper-kontak textarea {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 11px;
    padding: 10px 15px;
    margin-bottom: 18px;
    font-family: sans-serif;
}

.Kontak .wrapper-kontak textarea {
    height: 120px;
}

.Kontak .wrapper-kontak input[type="submit"] {
    color: black;
    font-size: 20px
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px 30px;
    border: 3px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #B8B8F4;
    display: inline-block;
    padding-bottom: 25px;
    width: auto;
    cursor: pointer;
    transition: background.5s ease-out;
}

.Kontak .wrapper-kontak input[type="submit"]:hover {
    background-color: #7272DD;
    box-shadow: 0 5px 15px black;
}
.footer {
    text-align: center;
    background-color: #B8B8F4;
}
